

#perfil td h1,p{
  padding-left: 8px;
}

#perfil img{
  height: 8em;
  width: 8em;
}

#perfil i {
  opacity: 70%;
  color: #9B7654;
}
#academica, #tec, #biografia{
  text-align: justify;
    margin: 55px 40px 10px 40px;
}
#academica ul, #tec ul{
    padding: 5px;
    border-left: 2px solid rgb(146, 146, 146);
    list-style: none;
  margin: 5px
    
}
