/* Estilos para a barra de navegação */
.navbar {
    background-color: #f8f9fa;
    padding: 15px 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: #333;
    margin: 0 10px;
}

/* Estilos para o cabeçalho */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.masthead h1 {
    font-weight: lighter;
    font-size: 3rem;
}

.masthead p {
    font-size: 1.5rem;
}

/* Estilos para o rodapé */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer-icons {
    margin-top: 20px;
}

.footer-icons a {
    color: #333;
    margin: 0 10px;
}

/* Estilos para o menu hamburguer */
.navbar-toggler {
    display: none;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin-top: 10px;
    }
}
