* {
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    padding: 0;
    margin-bottom: 50px;
}
ol li {
    list-style: none;
    display: inline;
    padding: 0px 10px 0px 10px;
}

img {
    height: 10em;
    width: 10em;
    border-radius: 50em;
}
hr {
    opacity: 50%;
    margin-bottom: 30px;
}
i {
    opacity: 70%;
}

#academica ul {
    padding: 5px;
    border-left: 2px solid black;
    list-style: none;
}
